h1 {
    color: #2196f3;
    font-family: 'Hammersmith One', sans-serif;
    text-align: center;
}

.header {
    border: white 1px solid;
    border-radius: 15px;
    margin: 5px;
}

.card .card-content {
    padding: 5px;
}

.btn-small.search-btn {
    padding: 2px;
    position: relative;
}

.collection {
    /*border: 0;*/
}

.collection .collection-item{
    border: 0;
}